.wr-forecast {
    .wr-day-container
    p {
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        color:#141414;
 }
}
.wr-day-container {
    font-size: 1rem;
    min-height: 274px;
    background-color: #5a5a5a;
    background-image: url(../images/day/sunny-day-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @include tablet{
        min-height: 244px;
        background-image: url(../images/day/sunny-day-tablet.jpg);
    }
    @include mobile{
        min-height: 290px;
        background-image: url(../images/day/sunny-day-mobile.jpg);
    }
    @include smallmobile{
        min-height: 234px;
        background-image: url(../images/day/sunny-day-smallmobile.jpg);     
    }
&.clouds{
    background-image: url(../images/day/cloud-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/cloud-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/cloud-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/cloud-day-smallmobile.jpg);     
    }
}
&.rain{
    background-image: url(../images/day/rain-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/rain-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/rain-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/rain-day-smallmobile.jpg);     
    }
}
&.snow{
    background-image: url(../images/day/snow-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/snow-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/snow-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/snow-day-smallmobile.jpg);     
    }
}
&.sunny{
    background-image: url(../images/day/sunny-day-desktop.jpg);
    @include tablet{
        background-image: url(../images/day/sunny-day-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/day/sunny-day-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/day/sunny-day-smallmobile.jpg);     
    }
}
&.night {
    background-color: #57606c;
    background-image: url(../images/night/night-desktop.jpg);
    @include tablet{
        background-image: url(../images/night/night-tablet.jpg);
    }
    @include mobile{
        background-image: url(../images/night/night-mobile.jpg);
    }
    @include smallmobile{
        background-image: url(../images/night/night-smallmobile.jpg);     
    }
}}

.wr-location {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    min-height: 58px;
    color: $secondaryTextColor;
    padding: 24px 16px 0px;
    margin-bottom: 16px;
}
.wr-location__name {
    font-size: 30px;
    color: $secondaryTextColor;
    margin-right: 16px;
}
.wr-location__overview{
    font-size: 30px;
    color: $secondaryTextColor;
    margin-right: 16px;
    background-color: transparent;
}

.wr-day-carousel__item {
    position: relative;
    min-height: 102px;
    width: 108px;
    background-color:$sliderItemsBgColor;
    padding-bottom: 6px;
    margin-top: 94px;
    border-right: 1px solid rgba(0,0,0,.12);
    &:before{
        content: '';
        display: block;
        position: absolute;
        height: 8px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($accentColorTempretureHigh, 0.6);
        transition: background-color 0.5s ease;
    }
    &:hover, &:focus{
        &:before{
            background-color: rgba($accentColorTempretureHigh, 1);
        }
        .wr-date__longish::after{
            width: 100%;
        }
    }
    .wr-day__content {
        display: block;
        height: 100%;
        padding: 14px 14px 14px;
        // padding: 8px 8px 14px;
        margin: 0px;
        color: #141414;
        transition: width 5s ease;
    }
    .wr-day__title {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .wr-date {
        font-size: 15px;
    }
    &.active {
        min-height: 188px;
        // min-width: 406px;
        padding-bottom: 0px;
        padding-top: 8px;
        margin-top: 0px;
        bottom: -14px;
        z-index: 777;
        &:before{
            content: '';
            display: block;
            position: absolute;
            height: 8px;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba($accentColorTempretureHigh, 0.6);
            transition: background-color 0.5s ease;
        }
        &:hover, &:focus{
            &:before{
                background-color: rgba($accentColorTempretureHigh, 1);
            }
        }
        .wr-day__content {
            padding: 16px 16px 16px;
            transition: width 5s ease;
        }
        .wr-day__title {
            font-size: 16px;
        }
        .wr-date {
            font-size: 16px;
        }

}}

.wr-date__long {
    display: none;
}

.wr-date__longish {
    position: relative;
    display: inline-block;
    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 0;
        background-color: #141414;
        transition: width 0.3s ease;
    }
}
.wr-day__body{
    height: 100%;
}
.wr-day__details-container {
    width: 100%;
    height: 100%;
    margin-right: 0;
    position: relative;
}
.wr-day__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    margin-right: 0;
}
.wr-day__details__weather-type-description {
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    overflow: hidden;
    display: none;
    margin-left: 3.5rem;
    padding: 8px 0px;
}
.active .wr-day__details__weather-type-description {
    font-size: 21px;
    display: block;
}
.wr-day__weather-type {
    display: block;
}
// .wr-weather-type--day {
// }
.wr-weather-type__text {
    display: none;
}
// --------------------
.wr-weather-type__icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: #141414;
    img{
        height: 100%;
        width: 100%;
    }
}
.wr-day__temperature {
    margin-left: 0;
}
.active .wr-day-temperature {
position: relative;
&::after{
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -20px;
    background-color: #141414;
}

}

.wr-day-temperature__high {
    text-align: right;
    margin-bottom: 10px;
}
.wr-day-temperature__high-value {
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    text-align: right;
}
.active .wr-day-temperature__high-value {
    font-size: 18px;
}

.wr-day-temperature__low {
    text-align: center;
}
.wr-day-temperature__low-value {
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    text-align: right;
}
.active .wr-day-temperature__low-value {
    font-size: 18px;
}
// .wr-day__wind-speed {
// }
// .wr-wind-speed {
// }
// .wr-hide-visually {
// }
// .wr-wind-speed__description {
// }
// .wr-wind-speed__value {
// }
// .wr-wind-speed__icon {
// }
// .wr-day__weather-type-description-container {
// }
// .wr-day__weather-type-description {
// }
// .wr-day__temperature-bar {
// }
// .arrow--next {
// }

// slick-slider
.slick-slider{
padding: 0 30px
}
.slick-track{
    position: relative;
}
.slick-arrow{
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: calc(100% - 94px);
    color: #fff;
    background-color: #149edc;
    &.slick-prev{
        left: -1px;
        background-image: url('../images/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 94px;
        transition: all $transitionFunc;

        &:hover, &:focus{
            color: rgba(0, 0, 0, 0.5);
            background-color: #067eb3;
            background-size: 94px;
            
        }
        &:before {
            content: none;
        }
    }
    &.slick-next{
        right: -1px;
        background-image: url('../images/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 94px;
        transition: all $transitionFunc;
        
        &:hover, &:focus{
            color: rgba(0, 0, 0, 0.5);
            background-color: #067eb3;
            background-size: 94px;
        }
        &:before {
            content: none;
        }
    }
}

// arrow w*h = 32*94 noactive bgc rgba(230,232,234,.3), color: rgba(58,60,62,.3); svg 16*16
