$primaryTextColor:#000;
$secondaryTextColor: #FFF;

$accentColor_tomato: #C62100;
$accentColor: #149edc;

$borderColor:transparent;

$primaryBgColor: #fff;
$secondaryBgColor: #149edc;
$footerBgColor: #35312D;
$sliderItemsBgColor: rgba(255, 255, 255, 1);

$accentColorTempreture: #828282;
$accentColorTempretureLow: #51BFED;
$accentColorTempretureMiddle:#AEDCD8;
$accentColorTempretureHigh: #9FCD80;



$transitionFunc: 0.5s ease;

$primaryFontFam: 'Lucida Sans Unicode', sans-serif;
